@import '../../assets/styles/variables';

.menu-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 4vmin;
  min-width: 35vmin;
  background-color: $menuBackgroundColor;
  user-select: none;
  -moz-user-select: none;
  font-size: $menuFontSize;
  color: $black;

  .menu-item {
    width: 100%;

    &:not(:last-child) {
      margin: 0 0 2vmin;
    }

    .h1 {
      font-size: $largeFontSize;
      font-weight: 700;
      color: $black;
      text-align: center;
      text-transform: uppercase;
    }

    .h2 {
      font-size: $menuFontSize;
      font-weight: 700;
      color: $black;
      text-align: center;
    }

    .label {
      margin: 0;
      padding: 0;
      font-size: $menuFontSize;
      color: $black;
    }

    .break {
      display: block;
      height: 0;
    }

    p {
      margin: 0 0 2vmin;
      padding: 0;
    }

    hr {
      margin: 0;
      border: 0;
      height: 1px;
      background-image: -webkit-linear-gradient(left, $menuBackgroundColor, $black, $menuBackgroundColor);
      background-image: -moz-linear-gradient(left, $menuBackgroundColor, $black, $menuBackgroundColor);
      background-image: -ms-linear-gradient(left, $menuBackgroundColor, $black, $menuBackgroundColor);
      background-image: -o-linear-gradient(left, $menuBackgroundColor, $black, $menuBackgroundColor);
    }

    input:not([type=checkbox]):not([type=radio]) {
      -webkit-appearance: none;
      -moz-appearance: none;
      width: 100%;
      font-size: $menuFontSize;
      outline: none;

      &[type=text],
      &[type=password] {
        box-sizing: border-box;
      }
    }

    input[type=checkbox],
    input[type=radio] {
      margin: 0 1.5vmin 0 0;
    }

    select {
      -webkit-appearance: menulist-button;
      width: 100%;
      font-size: $menuFontSize;
      outline: none;
    }
  }

  .menu-close {
    position: absolute;
    top: 0.5vmin;
    right: 0.7vmin;
    color: rgb(76, 76, 76);

    &:before {
      content: '\2715';
      cursor: pointer;
    }

    &:hover {
      color: rgb(0, 0, 0);
    }
  }
}
