@import '../../assets/styles/variables';

.gameWindow {
  position: relative;
  display: flex;
  width: calc(#{$cellSize * $boardSize} + #{$boardPanelSize} + #{$mainMargin * 2});
  height: calc(#{$cellSize * $boardSize} + #{$mainMargin * 2});
  border: $windowBorderSize solid yellow;

  .boardGrid {
    width: calc(#{$cellSize * $boardSize});
    height: calc(#{$cellSize * $boardSize});
    margin: $mainMargin;

    .-board-canvas {
      z-index: 100;
    }

    .-item-canvas {
      z-index: 101;
    }

    .-cursor-canvas {
      z-index: 101;
    }

    .-board-canvas,
    .-item-canvas,
    .-cursor-canvas{
      position: absolute;
      top: $mainMargin;
      left: $mainMargin;
      width: calc(#{$cellSize * $boardSize});
      height: calc(#{$cellSize * $boardSize});
    }
  }

  .boardPanel {
    width: $boardPanelSize;
  }
}
