@import '../../assets/styles/variables';

.gameWindow {
  position: relative;
  display: flex;
  width: calc(#{$cellSize * $boardSize} + #{$boardPanelSize} + #{$mainMargin * 2});
  height: calc(#{$cellSize * $boardSize} + #{$mainMargin * 2});
  border: $windowBorderSize solid yellow;

  .boardGrid {
    width: calc(#{$cellSize * $boardSize});
    height: calc(#{$cellSize * $boardSize});
    margin: $mainMargin;

    .-board-canvas {
      z-index: 100;
    }

    .-item-canvas {
      z-index: 101;
    }

    .-cursor-canvas {
      z-index: 101;
    }

    .-board-canvas,
    .-item-canvas,
    .-cursor-canvas {
      position: absolute;
      top: $mainMargin;
      left: $mainMargin;
      width: calc(#{$cellSize * $boardSize});
      height: calc(#{$cellSize * $boardSize});
    }
  }

  .boardPanel {
    width: calc(#{$cellSize} * 4 + #{$mainMargin});

    .-panel-canvas {
      margin: $mainMargin $mainMargin 0 0;
      width: calc(#{$cellSize} * 4);
      height: calc(#{$cellSize} * 7);
    }

    .-panel-buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: $cellSize;
      margin: 0 $mainMargin 0 0;
      padding: 0 #{$cellSize / 20};

      .-button {
        -webkit-appearance: none;
        outline: none;
        margin: 0 $mainMargin;
        padding: $buttonMargin;
        font-size: $baseFontSize;
        cursor: pointer;
      }
    }
  }
}
