@import './variables';

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: $black;
  color: $white;
  font-family: 'Helvetica', 'Arial', 'sans-serif';
  user-select: none;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

button,
input[type=button] {
  box-shadow: inset 0px 1px 0px 0px $white;
  background: linear-gradient(to bottom, $white 5%, $lightGray 100%);
  background-color: $white;
  border: 1px solid $gray;
  display: inline-block;
  cursor: pointer;
  color: $black;
  padding: $buttonMargin;
  text-decoration: none;
  text-shadow: 0px 1px 0px $white;
  font-size: $baseFontSize;
  outline: none;

  &:hover {
    background: linear-gradient(to bottom, $lightGray 5%, $white 100%);
    background-color: $lightGray;
    color: $darkGray;
  }

  &:active {
    position: relative;
    top: 1px;
  }
}
