/**
 *  Colors
 */
$white: #ffffff;
$black: #000000;
$lightGray: #f6f6f6;
$gray: #dcdcdc;
$darkGray: #4f4f4f;

/**
 *  Sizes
 */
$mainMargin: 2vmin;
$buttonMargin: 0.5vmin 1.5vmin;
$largeFontSize: 3vmin;
$baseFontSize: 2vmin;

/**
 *  Menu
 */
$menuBackgroundColor: rgb(190, 190, 190);
$menuFontSize: 2.5vmin;

/**
 *  Game
 */
$cellSize: 10vmin;
$windowBorderSize: 1vmin;
$boardSize: 8;
$boardPanelSize: calc(#{$cellSize} * 4 + #{$mainMargin});
